---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {% assign word_count = content | number_of_words %} {% if word_count > 180
      %} | ~ {{ word_count | divided_by: 150 }} minutes read {% endif %} {%- if
      page.link -%} |
      <span itemprop="link"
        ><a href="{{page.link}}" target="_blank" rel="noopener noreferrer"
          ><img src="{{site.baseurl}}/assets/images/github.svg" width="16" />
          source
        </a></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  ></script>
</article>
